cat .gitignore

**/Release_windows/*.cpp
**/Release_macOS/*.cpp
**/Release_windows/*.h
**/Release_macOS/*.h

**/Release_windows/release/*.cpp
**/Release_macOS/release/*.cpp

SECRET_HITLER_SERVEUR.pro.user
SECRET_VOLDEMORT_GAME.pro.user
*.o
*.qmake.stash
releaseMakefile
Makefile
Debug
*.Debug
*.Release
*.rc
*.qm
.DS_Store
