cat .gitignore

/SECRET_VOLDEMORT_GAME/Debug
/SECRET_VOLDEMORT_GAME/Developpement/SECRET_VOLDEMORT_GAME.pro.user
/SECRET_VOLDEMORT_SERVER/Debug
/SECRET_VOLDEMORT_SERVER/Developpement/SECRET_HITLER_SERVEUR.pro.user
*.o
